<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>Pokedex Home</title>
</head>

<body>
    <%-include('partials/nav.ejs') %>
        <div class="index-body">
            <% for (let i=0; i < pokemon.length; i++) {%>
                <% if (pokemon[i].img===null) { %>
                    <% return; %>
                        <% } %>
                            <div class="image-buttons-box">
                                <div>
                                    <a href="/pokedex/<%= i %>"><img class="pokemon-image" src="<%= pokemon[i].img %>"
                                            alt="Pokemon image"></a>
                                </div>
                                <form class="delete-button-box" method="POST" action="/pokedex/<%= i %>?_method=DELETE">
                                    <a class="edit-button" href="/pokedex/<%= i %>/edit">Edit <%= pokemon.name %> </a>
                                    <input class="delete-button" type="submit" value="Delete">
                                </form>
                            </div>
                            <% } %>
        </div>
</body>

</html>